<header>
	<img class="madmobile" src="dist/img/madmobile.png" alt="">
	<a class="toplink1" href="#">Menu</a>
	<a class="toplink2" href="#">Cart</a>
	<hr>
	<input type="text" placeholder="Enter Keyword">
	<button>Search</button>
</header>
<body>
	<div class="">
		<img src="" alt="">
			<p>Lorem Ipsum dolor sit amet, tur elit.</p>
			<p class="price">$50.99</p>
			<p class="strikethrough">$60.99</p>
			<button class="addButton">Add to Cart</button>
	</div>
	<div>
		<img src="" alt="">
			<p>Lorem Ipsum dolor sit amet, tur elit.</p>
			<p class="price">$50.99</p>
			<p class="strikethrough">$60.99</p>
			<button class="addButton">Add to Cart</button>
	</div>
	<div>
		<img src="" alt="">
			<p>Lorem Ipsum dolor sit amet, tur elit.</p>
			<p class="price">$50.99</p>
			<p class="strikethrough">$60.99</p>
			<button class="addButton">Add to Cart</button>
	</div>
	<div>
		<img src="" alt="">
			<p>Lorem Ipsum dolor sit amet, tur elit.</p>
			<p class="price">$50.99</p>
			<p class="strikethrough">$60.99</p>
			<button class="addButton">Add to Cart</button>
	</div>
	<div>
		<img src="" alt="">
			<p>Lorem Ipsum dolor sit amet, tur elit.</p>
			<p class="price">$50.99</p>
			<p class="strikethrough">$60.99</p>
			<button class="addButton">Add to Cart</button>
	</div>
	<div>
		<img src="" alt="">
			<p>Lorem Ipsum dolor sit amet, tur elit.</p>
			<p class="price">$50.99</p>
			<p class="strikethrough">$60.99</p>
			<button class="addButton">Add to Cart</button>
	</div>
	<div>
		<img src="" alt="">
			<p>Lorem Ipsum dolor sit amet, tur elit.</p>
			<p class="price">$50.99</p>
			<p class="strikethrough">$60.99</p>
			<button class="addButton">Add to Cart</button>
	</div>
	<div>
		<img src="" alt="">
			<p>Lorem Ipsum dolor sit amet, tur elit.</p>
			<p class="price">$50.99</p>
			<p class="strikethrough">$60.99</p>
			<button class="addButton">Add to Cart</button>
	</div>
	
	<div>
		<p class="moreButton" href="#">View More</p>
	</div>
</body>
<footer>
	<p>&copy MadMobile.com</p>
	<a class="site-links" href="#">Privacy Policy</a> |
	<a class="site-links" href="#">Terms & Conditions</a>
</footer>