<header>
	<img class="madmobile" src="dist/img/madmobile.png" alt="">
	<span class="toplink1">Menu</span>
	<span class="toplink2">Cart</span>
	<hr class="separationcut">
	<input class="searchfield" type="text" placeholder="Enter Keyword">
	<button class="searchbutton">Search</button>
</header>
<body>
	<div class="toplink" href="#">TOP</div>
	<div class="column1">
		<div class="item-overview">
			<img class="item-actual" src="dist/img/ipad.png" alt="">
			<p class="item-description">Lorem Ipsum dolor sit amet, tur elit.</p>
			<p class="price">$50.99</p>
			<p class="strikethrough">$60.99</p>
			<button class="addButton">Add to Cart</button>
		</div>
		<div class="item-overview">
			<img class="item-actual" src="dist/img/ipad.png" alt="">
			<p class="item-description">Lorem Ipsum dolor sit amet, tur elit.</p>
			<p class="price">$50.99</p>
			<p class="strikethrough">$60.99</p>
			<button class="addButton">Add to Cart</button>
		</div>
		<div class="item-overview" id="hidden">
			<img class="item-actual" src="dist/img/ipad.png" alt="">
			<p class="item-description">Lorem Ipsum dolor sit amet, tur elit.</p>
			<p class="price">$50.99</p>
			<p class="strikethrough">$60.99</p>
			<button class="addButton">Add to Cart</button>
		</div>
	</div>
	<div class="column2">
		<div class="item-overview">
			<img class="item-actual" src="dist/img/ipad.png" alt="">
			<p class="item-description">Lorem Ipsum dolor sit amet, tur elit.</p>
			<p class="price">$50.99</p>
			<p class="strikethrough">$60.99</p>
			<button class="addButton">Add to Cart</button>
		</div>
		<div class="item-overview">
			<img class="item-actual" src="dist/img/ipad.png" alt="">
			<p class="item-description">Lorem Ipsum dolor sit amet, tur elit.</p>
			<p class="price">$50.99</p>
			<p class="strikethrough">$60.99</p>
			<button class="addButton">Add to Cart</button>
		</div>
		<div class="item-overview" >
			<img class="item-actual" src="dist/img/ipad.png" alt="">
			<p class="item-description">Lorem Ipsum dolor sit amet, tur elit.</p>
			<p class="price">$50.99</p>
			<p class="strikethrough">$60.99</p>
			<button class="addButton">Add to Cart</button>
		</div>
	</div>
	<div class="column3">
		<div class="item-overview">
			<img class="item-actual" src="dist/img/ipad.png" alt="">
			<p class="item-description">Lorem Ipsum dolor sit amet, tur elit.</p>
			<p class="price">$50.99</p>
			<p class="strikethrough">$60.99</p>
			<button class="addButton">Add to Cart</button>
		</div>
		<div class="item-overview">
			<img class="item-actual" src="dist/img/ipad.png" alt="">
			<p class="item-description">Lorem Ipsum dolor sit amet, tur elit.</p>
			<p class="price">$50.99</p>
			<p class="strikethrough">$60.99</p>
			<button class="addButton">Add to Cart</button>
		</div>
		<div class="item-overview">
			<img class="item-actual" src="dist/img/ipad.png" alt="">
			<p class="item-description">Lorem Ipsum dolor sit amet, tur elit.</p>
			<p class="price">$50.99</p>
			<p class="strikethrough">$60.99</p>
			<button class="addButton">Add to Cart</button>
		</div>
	</div>
	<div class="column3">
		<div class="item-overview">
			<img class="item-actual" src="dist/img/ipad.png" alt="">
			<p class="item-description">Lorem Ipsum dolor sit amet, tur elit.</p>
			<p class="price">$50.99</p>
			<p class="strikethrough">$60.99</p>
			<button class="addButton">Add to Cart</button>
		</div>
		<div class="item-overview">
			<img class="item-actual" src="dist/img/ipad.png" alt="">
			<p class="item-description">Lorem Ipsum dolor sit amet, tur elit.</p>
			<p class="price">$50.99</p>
			<p class="strikethrough">$60.99</p>
			<button class="addButton">Add to Cart</button>
		</div>
		<div class="item-overview">
			<img class="item-actual" src="dist/img/ipad.png" alt="">
			<p class="item-description">Lorem Ipsum dolor sit amet, tur elit.</p>
			<p class="price">$50.99</p>
			<p class="strikethrough">$60.99</p>
			<button class="addButton">Add to Cart</button>
		</div>
	</div>
	<div class="column3" id="right-side">
		<div class="item-overview">
			<img class="item-actual" src="dist/img/ipad.png" alt="">
			<p class="item-description">Lorem Ipsum dolor sit amet, tur elit.</p>
			<p class="price">$50.99</p>
			<p class="strikethrough">$60.99</p>
			<button class="addButton">Add to Cart</button>
		</div>
		<div class="item-overview">
			<img class="item-actual" src="dist/img/ipad.png" alt="">
			<p class="item-description">Lorem Ipsum dolor sit amet, tur elit.</p>
			<p class="price">$50.99</p>
			<p class="strikethrough">$60.99</p>
			<button class="addButton">Add to Cart</button>
		</div>
		<div class="item-overview">
			<img class="item-actual" src="dist/img/ipad.png" alt="">
			<p class="item-description">Lorem Ipsum dolor sit amet, tur elit.</p>
			<p class="price">$50.99</p>
			<p class="strikethrough">$60.99</p>
			<button class="addButton">Add to Cart</button>
		</div>
	</div>
	<div>
		<p class="moreButton" href="#">View More</p>
	</div>
</body>
<footer>
	<p class="madmobilecopy">&copy MadMobile.com</p>
	<a class="site-links" href="#">Privacy Policy</a> |
	<a class="site-links" href="#">Terms & Conditions</a>
</footer>