<header>
	<img class="madmobile" src="" alt="">
	<li>
		<ul>Menu</ul>
		<ul>Cart</ul>
	</li>
	<hr>
	<input type="text" placeholder="Enter Keyword">
	<button>Search</button>
</header>
<body>
	<li>
		<ul>
			<img src="" alt="">
			<p>Lorem Ipsum dolor sit amet, tur elit.</p>
			<p class="price">$50.99</p>
			<p class="strikethrough">$60.99</p>
		</ul>
	</li>
</body>
<footer>
	<p>&copy MadMobile.com</p>
	<a href="#">Privacy Policy</a>
	<a href="#">Terms & Conditions</a>
</footer>