// @import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
// @import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
// $base-font-family: $helvetica;

header, footer {
  background-color: RGBA(255, 255, 255, 1);
}
.madmobile {
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
  }
.searchbutton {
  background-color: RGBA(96, 109, 118, 1);
}
hr {
  background-color: lightgray;
}
body {
  background-color: RGBA(240, 240, 240, 1);
  font-weight: 300;
  margin: 0;
}
footer {
  text-align: center;
}
.site-links {
  color: RGBA(245, 123, 0, 1);
  text-decoration: none;
}
.price {
  color: RGBA(203, 13, 0, 1);
}
.strikethrough {
    color: RGBA(102, 102, 102, 1);
    font-size: 85%;
    margin-left: 10px;
    margin-top: 0;
    text-decoration: line-through;
  }

// ************************************************************//
//*******************For Desktop Css Stylings******************//

@media screen and (max-width: 1024px){
  body {
    
  }
}
// ************************************************************//
//*******************For Tablet Css Stylings******************//

@media screen and (min-width: 650px){
  header {
    height: 75px;
  }
  
  body {
    
  }
  .toplink1 {
    position: absolute;
    margin-top: 30px;
    left: 660px;
    color: RGBA(136, 145, 152, 1);
    font-size: 80%;
  }
  .toplink2 {
    position: absolute;
    margin-top: 30px;
    left: 720px;
    color: RGBA(136, 145, 152, 1);
    font-size: 80%;
  }
  .toplink {
    position: absolute;
    z-index: 1;
    left: 728px;
    top: 460px;
    width: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 60%;
    background-color: RGBA(95, 107, 117, 1);
    color: lightgrey;
  }
  .column1,
  .column2,
  .column3 {
    margin: 0;
    display: inline-block;
  }
  .item-overview {
    background-color: RGBA(255, 255, 255, 1);
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 125px;
    height: 220px;
  }
  .item-actual {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80px;
  }
  .item-description {
    color: RGBA(102, 102, 102, 1);
    margin-left: 10px;
    margin-top: 0;
    margin-right: 10px;
    font-size: 72%;
  }
  .price {
    margin-left: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .addButton {
  width: 100px;
  height: 30px;
  font-size: 70%;
  font-weight: 200;
  color: white;
  background-image:
    linear-gradient(
      RGBA(255, 141, 57, 1), RGBA(246, 107, 3, 1)
    );
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  border-color: RGBA(213, 91, 2, 1);
  border-width: 1px;
  border-style: solid;
}
  .moreButton {
    color: white;
    background-image:
    linear-gradient(
      RGBA(128, 145, 159, 1), RGBA(100, 113, 123, 1)
    );
    width: 121.6px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-color: RGBA(77, 87, 95, 1);
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 30px;
    box-shadow: inset 0 0 5px RGBA(159, 173, 183, 1);
    border-radius: 4px;
    font-size: 80%;
  }
  hr {
    display: none;
  }
  footer {
    height: 75px;
    font-size: 60%;
  }
  .madmobilecopy {
    padding-top: 20px;
    padding-bottom: 5px;
    margin-bottom: 0;
  }
}
// ************************************************************//
//*******************For Mobile Css Stylings******************//

@media screen and (max-width: 375px){
  header {
    padding-left: 10px;
    padding-right: 10px;
    width: 360px;
    // position: fixed;
  }
  .madmobile {
    width: 100px;
    margin-top: 10px;
    display: inline-block;
  }
  .toplink1 {
    text-decoration: none;
    color: RGBA(136, 145, 152, 1);
    width: 75px;
    display: inline-block;
    margin-left: 65px;
    margin-bottom: 0;
    
    // position: absolute;
  }
  .toplink2 {
    text-decoration: none;
    color: RGBA(136, 145, 152, 1);
    width: 50px;
    margin: 0;
    display: inline-block;
  }
  input {
    width: 65%;
    background-color: RGBA(240, 240, 240, 1);
    margin-right: 0;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    display: inline-block;
  }
  button {
    width: 25%;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background-color: RGBA(95, 108, 117, 1);
    display: inline-block;
  }
  .item-actual {
    margin: 10px;
    width: 145px;
  }
  body {
    width: 375px;
  }
  .item-overview {
    background-color: RGBA(255, 255, 255, 1);
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 5px;
    width: 172.5px;
    display: inline-table;
  }
  .item-description {
    color: RGBA(102, 102, 102, 1);
    margin-left: 10px;
    margin-top: 0;
    margin-right: 10px;
  }
  .price {
    margin-left: 10px;
    margin-bottom: 5px;
  }
  .strikethrough {
    color: RGBA(102, 102, 102, 1);
    font-size: 85%;
    margin-top: 5px;
    margin-left: 10px;
  }
  .addButton {
  width: 145px;
  height: 40px;
  color: white;
  background-image:
    linear-gradient(
      RGBA(255, 141, 57, 1), RGBA(246, 107, 3, 1)
    );
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-color: RGBA(213, 91, 2, 1);
  border-width: 1px;
  border-style: solid;
}
  .moreButton {
    color: white;
    background-image:
    linear-gradient(
      RGBA(128, 145, 159, 1), RGBA(100, 113, 123, 1)
    );
    width: 165px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-color: RGBA(77, 87, 95, 1);
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    margin-left: 97.5px;
    margin-right: 97.5px;
    box-shadow: inset 0 0 5px RGBA(159, 173, 183, 1);
  }
  footer {
    font-size: .75em;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top-color: RGBA(221, 221, 221, 1);
    border-top-style: solid;
    border-top-width: 1px;
    width: 375px;
    z-index: 1;
  }
  .column1 {
    margin: 0;
    display: inline-block;
  }
  .column2,
  .column3 {
    margin: 0;
    float: right;
    display: inline-block;
  }
}
